* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden; /* Prevent scrollbars */
}

.can {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Place the background behind other content */
    background-image: url('https://images.unsplash.com/photo-1495465798138-718f86d1a4bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size: cover; /* Cover the entire element */
    background-position: center center; /* Center the background image */
}

.content{
    height: 100vh;
    position: relative;
        z-index: 1;
    background-color: black;
    color: white;
    opacity: 0.65;
}


.box{
    padding-top: 15%;
}